.header_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 3px 3px 5px #ccc;    
}

#logoUA{
    height: 70px;
}